* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Classi generali utili */

body {
    font-family: Helvetica, sans-serif;
}

.clearfix::after {
    content:"";
    clear:both;
    display:table;
}

ul {
    list-style: none;
}

ul li a:hover{
    text-decoration: underline;
}

.wrapper {
    width:80%;
    margin:auto;
}

.btn {
    display: inline-block;
    border-radius: 50vh;
    padding: 0.8em 1em;
    background-color:white;
    color:#23272A;
}

.btn:hover {
    box-shadow: 0px 4px 10px -2px #000;
    cursor: pointer;
    color:#8EA1E1;
    transition: 500ms;
}

.btn.btn--big {
    font-size:  1.5em;
    margin: 0 10px;
}

.btn.btn--blk {
    background-color: #23272A;
    color:white;
}

.btn.btn--blu {
    background-color:#5865f2;
    color:white;
}

.btn.btn--blk:hover {
    background-color: #36393F;
}

.btn.btn--blu:hover {
    background-color: #8EA1E1;
}

a {
    text-decoration: none;
}

h1 {
    margin:auto;
    font-size: 4em;
    padding-top: 2em;
}

h2 {
    margin:auto;
    color: #23272A;
    font-size: 3em;
    padding-top: 3em;
}

p {
    font-size: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
    line-height: 1.5em;
    max-width:70ch;
    margin:auto;
}

/* Stilizzazione elementi di header */


/* Stilizzazione nav */


header{
    background-color: #255EE9;
    text-align:center;
    color: #fff;
}

nav {
    position:relative;
    padding-top: 2em;
    padding-bottom:2em;
}

nav>* {
    position:absolute;
}

nav img{
    transform: translate(0, -50%);
    top:50%;
    left:0;
}

nav ul{
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    margin-inline:0 2em;
    color:white;
    font-size:1.2em;

}

nav a.btn{
    top:50%;
    transform: translate(0, -50%);
    right:0;
}

/* stilizzazione jumbotron */

.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position:center;
    min-height: 800px;
}

/* Stilizzazione contenuti */

main section.content:nth-child(even) {
    background-color: #F6F6F6;
}


.content {
    min-height:800px;
}

.col-img {
    padding-top:8em;
    float:left;
    display: inline-block;
    width:60%;
    text-align:center;
}

.col-txt {
    float:right;
    display:inline-block;
    width: 40%;
    text-align:center;

}

.txt {
    text-align: left;
    max-width: 40ch;
}
